@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-slate-700{
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    overflow: hidden; /* Prevents scrolling */
}